---
import MainLayout from '../layouts/MainLayout.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
---

<MainLayout title="Resume" description="Lorem ipsum"> 
    <section class="section section--hero">
        <div class="hero">
            <div class="details">
                <h1 class="hero__title">Sonia Goncalves</h1>
                <h2 class="intro">I've been working as Head of Global Operations in the Genomic Surveillance Unit (GSU) at Wellcome Sanger Institute, overseeing the delivery of large-scale genomic surveillance operations on infectious diseases to public health agencies in the UK and globally to partners across Africa, Asia and South America.</h2>
                <div class="actions">
                    <a href="/cv" class="action__btn">
                        <Icon name="mdi:user-card-details-outline" />
                        <span>CV</span>
                    </a>
                    <!-- <a href="/orcid" class="action__btn">
                        <Icon name="academicons:orcid-square" class="social__icon" /> 
                        <span>ORCID</span>
                    </a> -->
                </div>
            </div>
            <div class="media">
                <div class="thumb">
                    <div class="thumb__wrapper">
                        <div class="thumb__inner-wrapper">
                            <Image src="/images/sonia_photo.jpeg" alt="Sonia Goncalves" width="550" height="550" class="thumb__image"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</MainLayout>

<style>

    .hero {
        align-items: center;
        display: flex;
        inset-block-start: 50%;
        inset-inline-start: 0;
        justify-content: space-between;
        margin-inline: 9rem;
        position: absolute;
        transform: translateY(-50%);
        width: calc(100% - 18rem);
    }

    .hero__title {
        font-size: 3.6rem;
        font-weight: 800;
        margin-block-end: 3rem;
    }

    .intro {
        font-size: 1.4rem;
        font-weight: 500;
        margin-block-end: 4.5rem;
    }
    .details {
        width: 60%;
    }

    .media {
        /* inset-block-start: 6rem; */
        inset-inline-end: 3rem;
        /* position: absolute; */
    }


    .thumb,
    .thumb__image {
        border-radius: 12px;
    }

    .thumb {
        border-radius: 12px;
        height: 390px;
        inset-inline-end: 6rem;
        position: relative;
        width: 390px;
    }

    .thumb__wrapper {
        border-radius: 8%;
        height: 390px;
        inset-block-start: 0;
        inset-inline-start: 0;
        overflow: hidden;
        position: absolute;
        transform: translateY(10%) rotate(45deg);
        transform-origin: 50% 50%;
        width: 390px;
    }

    .thumb__inner-wrapper {
        border-radius: 12px;
        height: 560px;
        transform: translateY(-15%) rotate(-45deg);
        width: 560px;

        img {
            border-radius: 12px;
            height: auto;
            object-fit: cover;
            object-position: center;
            transform: translate(-10%, -10%) rotate(0);
            width: 100%;
        }
    }

    .actions {
        display: flex;
        gap: 1.5rem;
    }

</style>
