<footer class="footer">
    <div class="copyright">Copyright &copy; <span class="year"></span> | All rights reserved.</div>
    <div class="designBy">Designed by <a href="https://ptmartins.github.io" class="link">Pedro Martins</a> </div>
</footer>

<style>

    .footer {
        text-align: center;
    }

    .copyright {
        margin-block-end: .75rem;;
    }

    @media all and (min-width: 1024px) {
        .footer {
            display: flex;
            justify-content: space-between;
            padding-block-start: 3rem;;
        }

        .copyright {
            margin-block-end: 0;
        }
    }
</style>

<script>
    const yearEl = document.querySelector('.year');
    const year = new Date().getFullYear().toString();

    yearEl.textContent = year;
</script>