---
// Style imports
import '../styles/global.css';

// Component imports
import Footer from '../components/Footer.astro';
import Image from 'astro/components/Image.astro';
const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> { title } </title>
        <meta name="description" content={ description } />
	</head>
	<body>
        <main class="main">
            <section class="section section--hero">
                <div class="bg">
                    <Image src="/images/bg.svg" alt="Background" width="1640" height="940" /> 
                </div>
                <slot />
            </section>
        </main>
        <div class="footer">
            <Footer />
        </div>
	</body>
</html>

<style>

    body {
        display: flex;
        flex-direction: column;
    }

    .main {
        flex-grow: 1;
        position: relative;
    }

    .section--hero {
        height: 80vh;
    }

    .bg {
        height: 100%;
        inset-block-start: 0;
        inset-block-start: 0;
        position: absolute;
        width: 100%;
    }

    .bg img {
        height: 100%;
        object-fit: contain;  
        object-position: left;
        width: 100%;
    }

    .footer {
        padding: 1.5rem 9rem;
    }

</style>